@model SpendingTracker.Models.SpendingRecord
@{
    ViewBag.Title = "Edit Spending";
}

<div class="page-header" style="position: relative;">
    <h2 class="page-title">Edit Spending</h2>
    <!-- Delete Button -->
    <a href="@Url.Action("Delete", "Spending", new { id = Model.Id })" class="btn btn1 delete-btn" style="position: absolute; right: 0; top: 0;">Delete</a>
</div>

@using (Html.BeginForm(null, null, FormMethod.Post, new { autocomplete = "off" }))
{
    @Html.HiddenFor(model => model.Id)

    <div class="form-group">
        @Html.LabelFor(model => model.Amount)
        @Html.EditorFor(model => model.Amount, new
        {
            htmlAttributes =
            new
                 {
                @class = "form-control",
                @id = "amountInput",
                autocomplete = "off",
                @placeholder = "Enter the amount (RM)",
                @required = "required"
                 }
        })
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Description)
        @Html.EditorFor(model => model.Description, new
        {
            htmlAttributes =
            new
                 {
                @class = "form-control",
                @autocomplete = "off",
                @placeholder = "Enter the description",
                @required = "required"
                 }
        })
    </div>

    <div class="form-group">
        <input type="submit" value="Save Changes" class="btn btn1" />
        <a href="@Url.Action("Index", "Spending")" class="btn btn1">Cancel</a>
    </div>
}
